@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes pulse-custom {
  0% {
    transform: scale(1);
    opacity: 0.8;
  }
  50% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0.8;
  }
}

@keyframes pulse-custom-logo {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.animate-pulse-custom {
  animation: pulse-custom 5s ease-in-out infinite;
}

.animate-pulse-custom-logo {
  animation: pulse-custom-logo 5s ease-in-out infinite;
}